/* Add CSS Styling */

.odd {
  background-color: rgb(233, 159, 165);
  font-family: Verdana, 'DejaVu-Sans', sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
  color: blue;
  font-size: 36px;
}

#fourth {
  background-color: rgb(111, 234, 111);
  font-weight: 700;
}
