body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

/* Solution */

.card {
  padding: 5px;
}

.title {
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}

.content {
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}

.button-container {
  padding: 8px;
  margin: 8px;
  text-align: center;
}

button {
  display: block;
  padding: 8px 16px;
  margin: 0 auto;
}
