/* Add CSS Styling */

/* 1. Method */
/* div p {
  background-color: yellow;
  color: red;
  text-align: center;
  font-size: 20px;
} */

/* 2. Method */
/* .container .text {
  background-color: yellow;
  color: red;
  text-align: center;
  font-size: 20px;
} */

/* 3. Method */
/* div .text {
  background-color: yellow;
  color: red;
  text-align: center;
  font-size: 20px;
} */

/* 4. Method */
.container p {
  background-color: yellow;
  color: red;
  text-align: center;
  font-size: 20px;
}
